In [59]:
from googleapiclient.discovery import build
import Config
import pandas as pd 
import seaborn as sns

Setting Up

In [62]:
# Initalising variables
api_key = API_KEY
channel_ids = ['UCJla13cU_l6Itg8yEtOiAqQ', 'UCPF4bAZimS4T8w1TlbeIAYg', 'UCSXOsOIzeJqJb4h0QlimDww', 'UCjWs7BxyjO5SLqevxSmp4vQ', 'UCy-FOeN-HxrFueHB9Jd8saA']

In [63]:
# Get credentials and create an API client
youtube = build('youtube', 'v3', developerKey = api_key)

Pulling Data

In [78]:
# Getting channel data
def get_channel_stats(youtube, channel_id):
    all_data = []
    request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=','.join(channel_ids))
    response = request.execute()
    for i in range(len(response['items'])):
        data = dict(Channel_name = response['items'][i]['snippet']['title'], 
                Subscribers = response['items'][i]['statistics']['subscriberCount'], 
                Video_Count = response['items'][i]['statistics']['videoCount'], 
                Views = response['items'][i]['statistics']['viewCount']) # Data Extraction
        all_data.append(data)
    return all_data

In [81]:
data = get_channel_stats(youtube, channel_ids)
channel_df = pd.DataFrame(data) # Creating Dataframe

In [82]:
channel_df

             Channel_name Subscribers Video_Count      Views
0             Faisal Khan     1820000        2476  856704636
1                  V3Cars      457000         832   55859965
2  Forrest's Auto Reviews     1780000         493  699089986
3             MotorOctane     3250000        2678  956417336
4           Autocar India     2220000        3734  855718476

Preparing Data

In [85]:
#Numeric Data
channel_df['Subscribers'] = pd.to_numeric(channel_df['Subscribers'])
channel_df['Views'] = pd.to_numeric(channel_df['Views'])
channel_df['Video_Count'] = pd.to_numeric(channel_df['Video_Count'])
channel_df.dtypes

Channel_name    object
Subscribers      int64
Video_Count      int64
Views            int64
dtype: object

In [95]:
#Adding a new column
channel_df['Avg_Views'] = channel_df['Views'].to_numpy()/channel_df['Video_Count'].to_numpy()
pd.set_option('display.float_format', lambda x: '%.3f' % x) #Drop scientific notation
channel_df['Avg_Views'] = pd.to_numeric(channel_df['Avg_Views'])

In [97]:
channel_df.dtypes

Channel_name     object
Subscribers       int64
Video_Count       int64
Views             int64
Avg_Views       float64
dtype: object